<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeClean"
        tools:targetApi="31">

        <activity
            android:name=".ui.forgotpassword.ForgotPasswordActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${GOOGLE_MAPS_API_KEY}" />

        <activity
            android:name=".ui.signup.SignupActivity"
            android:exported="false"
            android:label="Signup" />
        <activity
            android:name=".EventPopup"
            android:exported="false"
            android:label="@string/title_activity_event_popup"
            android:theme="@style/Theme.WeClean" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:label="Login">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.profile.Profile"
            android:exported="false"
            android:label="@string/title_activity_profile" />

        <activity
            android:name=".Achievements"
            android:exported="false"
            android:label="@string/title_activity_achievements" />

        <activity
            android:name=".ui.add.Add"
            android:exported="false"
            android:label="@string/title_activity_add" />

        <activity
            android:name=".ui.map.Map"
            android:exported="false"
            android:label="@string/title_activity_map" />

        <activity
            android:name=".ui.Home.Home"
            android:exported="false"
            android:label="@string/title_activity_home" />
    </application>

</manifest>